# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea/*
!.idea/scopes

# vscode
.vscode/*
# gradle
build
.gradle

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# other
eclipse
run
runs
sepple/java/src/main/resources/natives/sepple_java/sepple_java_binaries.zip.l4z
